# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.UnityClient.iml
# Datasource local storage ignored files
/../../../../../../../:\90KM_GIT\EntitasUnity\Src\.idea\.idea.UnityClient\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
